<!DOCTYPE html>
<html>
<head>
  <% include partials/page/head.ejs %>
</head>
  <body class='<%=classname %>'>
    
    <% include header.ejs %>

    <div class="jumbotron small-12 small-centered columns">
      <!-- <h1><%= title %></h1> -->
      <% include search.ejs %>
    </div>

    <div class="registerForm small-11 small-centered medium-10 large-8 columns">
      <% include signUpForm.ejs %>
    </div>

    <% include partials/page/footer.ejs %>
    <% include partials/page/jsdefaults.ejs %>

  </body>
</html>
