<!DOCTYPE html>
<html>
  <head>
   <% include head.ejs %>
  </head>
  <body class='<%=classname %>'>
  <% include header.ejs %>


  <div id="row1" class="row">

        <h1><%= title %></h1>

      <form action="#" id="search_box">

          <div class="wrapper">

              <input type="text" id="search" name="search" placeholder="Search for Locations" />

              <!--<button type="submit" class="search_btn">Search</button>-->

          </div>

      </form>


  </div>

  <div id="row2" class="row">
      <h1>Sign up and get started</h1>

      <form action="register" method="post">

              <div class="small-10">
                  <div class="row">
                      <div class="small-3 columns">
                          <label for="right-label" class="right">Username</label>
                      </div>
                      <div class="small-9 columns">
                          <input type="text" id="right-label" placeholder="Username" name="username">
                      </div>

                      <div class="small-3 columns">
                          <label for="right-label" class="right">Email</label>
                      </div>

                      <div class="small-9 columns">
                          <input type="email" id="right-label" placeholder="Email" name="email">
                      </div>

                      <div class="small-3 columns">
                          <label for="right-label" class="right">Password</label>
                      </div>

                      <div class="small-9 columns">
                          <input type="password" id="right-label" placeholder="Password" name="password">
                      </div>

                      <div class="small-9 columns">
                        <button aria-label="submit form" href="#" type="submit">
                          Submit
                        </button>
                      </div>

                  </div>
              </div>

      </form>

  </div>



  </body>
</html>
