<!DOCTYPE html>
<html>
<head>
  <% include partials/default/head.ejs %>
</head>
  <body class="<%=page %>">
    <% include partials/default/header.ejs %>
    <div>
      <div class="jumbotron small-12 small-centered columns">
        <!-- <h1><%= title %></h1> -->
        <% include search.ejs %>
      </div>

<<<<<<< HEAD
      <% include partials/forms/signUpForm.ejs %>
=======
    <div class="jumbotron small-12 small-centered columns">
      <!-- <h1><%= title %></h1> -->
      <% include search.ejs %>
<<<<<<< HEAD
  </div>


      <h1>Sign up and get started</h1>
=======
    </div>
>>>>>>> origin/master
>>>>>>> 914ab9acdaae48c85404c1c0d0b58cca86b8a923

      <% include partials/default/footer.ejs %>
      <% include partials/default/jsdefaults.ejs %>
    </div>
  </body>
</html>
