<!DOCTYPE html>
<html>
  <head>
   <% include head.ejs %>
  </head>
  <body class='<%=classname %>'>
  <% include header.ejs %>


  <div id="row1" class="row">
      <h1><%= title %></h1>

      <% include search.ejs %>
  </div>


      <h1>Sign up and get started</h1>

      <% include signUpForm.ejs %>

  </div>

  </body>
</html>
