<form action="#" id="search_box">

    <div class="wrapper">

        <input type="text" id="search" name="search" placeholder="Search for Locations" />

        <!--<button type="submit" class="search_btn">Search</button>-->

    </div>

</form>